{% extends "base.html" %}

{% block title %}Уроки - AllSociety{% endblock %}

{% block content %}
    <h1>Уроки по теме {{ topic.name }}</h1>
    <div class="subjects-container" style="display: flex; flex-direction: column; gap: 15px; align-items: center;">
        {% for lesson in lessons %}
            <a href="{% url 'lesson_detail' lesson.id %}" class="button" style="display: flex; align-items: center; justify-content: space-between; padding: 12px 20px; background-color: rgba(173, 216, 230, 0.6); border-radius: 15px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); transition: all 0.3s ease;">
                {{ lesson.title }}
            </a>
        {% endfor %}
    </div>
    
    <br>
    
    <a href="{% url 'topic_list' topic.subject.id %}" class="button" style="display: flex; align-items: center; justify-content: space-between; padding: 12px 20px; background-color: rgba(173, 216, 230, 0.6); border-radius: 15px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); transition: all 0.3s ease;">
        Назад
    </a>

    <style>

        .subjects-container {
            display: flex;
            flex-direction: column;
            gap: 15px;
            margin-top: 20px;
        }
    
        .subjects-container .button {
            position: relative;
            left: auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 12px 10px; /* Уменьшены боковые отступы */
            background-color: rgba(173, 216, 230, 0.6); /* Прозрачный голубой цвет */
            border-radius: 15px; /* Округление углов */
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Легкая тень */
            transition: all 0.3s ease;
            width: 35%; /* Если нужно, можно задать фиксированную ширину, например: width: 150px; */
        }        
    
        .subjects-container .button:hover {
            background-color: rgba(173, 216, 230, 0.8); /* Более интенсивный голубой при наведении */
            transform: translateY(-4px);
            box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
        }

        .button {

            position: relative;
            left: 35%;

            width: 30%;

        }

        h1 {

            position: relative;
            top: -10px;
            right: 35%;

        }

        /* Уборка лишних с главной страницы SVG */
        .center-line {
            display: none;
        }  

        .title-container {
            display: none;
        }

        .paragraph-container {
            display: none;
        }

        .h2 {
            display: none;
        }

        .h3 {
            display: none;
        }

        #character-container {
            display: none;
        }

        .svg-container {
            display: none;
        }
    </style>
{% endblock %}
