{% extends "base.html" %}

{% block title %}Конспект - {{ subject.name }}{% endblock %}

{% block content %}
    <h1>Конспект по предмету {{ subject.name }}</h1>
    
    {% if notes %}
        <p>{{ notes.notes_content }}</p>
    {% else %}
        <p>Конспект для этого предмета не найден.</p>
    {% endif %}
    <style>

        /* Уборка лишних с главной страницы SVG */
        .center-line {
            display: none;
        }  

        .title-container {
            display: none;
        }

        .paragraph-container {
            display: none;
        }

        .h2 {
            display: none;
        }

        .h3 {
            display: none;
        }

        #character-container {
            display: none;
        }

        .svg-container {
            display: none;
        }
        
    </style>
{% endblock %}


