{% extends "base.html" %}

{% block content %}
    <p>Выберите нужный калькулятор:</p>
    <div class="buttons">
        <a href="{% url 'algebra' %}" class="button">Калькулятор Алгебры</a>
        <a href="{% url 'geometry' %}" class="button">Калькулятор Геометрии</a>
        <a href="{% url 'fizika' %}" class="button">Калькулятор по Физике</a>
        <a href="{% url 'periodic_table' %}" class="button">Калькулятор по Химии</a>
    </div>
    
    <div class="content">

        <a href="{% url 'subjects_list' %}" class="button subjects-button" style="margin-top: 20px;">📚 Вернуться к предметам</a>
        
    </div>
    <style>

        .buttons {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 10px;
            align-items: center;
        }

        .buttons button {
            width: 150px; /* ширина кнопки */
            height: 50px; /* высота кнопки */
            font-size: 14px; /* размер шрифта */
        }

        p {

            font-size: 25px;
            color: #1f5d5e;

        }

        /* Уборка лишних с главной страницы SVG */
        .center-line {
            display: none;
        }  

        .title-container {
            display: none;
        }

        .paragraph-container {
            display: none;
        }

        .h2 {
            display: none;
        }

        .h3 {
            display: none;
        }

        #character-container {
            display: none;
        }

        .svg-container {
            display: none;
        }

    </style>
    <script>
        function showSlide(slideNumber) {
            let slides = document.querySelectorAll('.slider');
            slides.forEach(slide => slide.classList.remove('active'));
            document.getElementById('slide' + slideNumber).classList.add('active');
        }

        document.addEventListener("DOMContentLoaded", function() {
            fetch("get_entries?category=algebra")
                .then(response => response.json())
                .then(data => {
                    document.getElementById("algebra-content").innerHTML = data.map(entry => `<div class='math-block'><h3>${entry.title}</h3><p>\(${entry.content}\)</p></div>`).join('');
                });
            
            fetch("get_entries?category=geometry")
                .then(response => response.json())
                .then(data => {
                    document.getElementById("geometry-content").innerHTML = data.map(entry => `<div class='math-block'><h3>${entry.title}</h3><p>\(${entry.content}\)</p></div>`).join('');
                });
        });
    </script>
{% endblock %}
